<!-- <h1 style="color: brown;">This is Hamada</h1> -->
<!-- <app-first></app-first> -->
<!-- <app-second></app-second> -->

<!-- <app-all-in-one></app-all-in-one> -->

<!-- <input type="text" [value]="dataParent"> -->
<!-- <input type="text" (keyup)="getData($event)" > -->

<!-- <div>
  <h1>Parent Component</h1>

  Data:{{dataParent}}

  <app-home [dataFromParent]="dataFromLogin"></app-home>
  <app-login (myEvent)="GetData($event)"></app-login>

  Data:{{dataFromLogin}}
</div> -->
<!-- <h2 class="alert alert-dark">Hello</h2> -->


<!-- <app-registration (myEvent)="GetData($event)"></app-registration> -->
<!-- <app-students [StudentsInfo] = "Students"></app-students> -->
<!-- <app-students [studentDala3] = "student"></app-students> -->


<!-- <app-validator></app-validator> -->

<app-header></app-header>

<div class="text-center border w-50 m-auto alert alert-secondary">
  <router-outlet (activate)="GetData($event)" (activate)="sendStudents($event)"></router-outlet>
</div>
